body {

	background-color: #FFCA3D; /* yellow */
}

.make-serif {
	font-family: 'Times New Roman', serif;
}

.atl-container {
	color: #0092B2; /* blue */
	/*color: #B70000;*/ /* red */
	padding-top: 150px;
	text-align: center;
	background: none;
}

.atl-container h1 {
	font-size: 150px;
	line-height: 150px;
}